/*UV Index styling */
.styleUV-index{
    width: fit-content;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: -1px -1px 21px 0px rgba(50, 50, 50, 0.75);
 
}
.green{
    background-color: green; 
}
.yellow{
    background-color: yellow;
    color: black;
}
.orange{
    background-color: orange;
    color: black;
}
.red{
    background-color: red;
}

/*webpage styling*/
/*header background*/
#header {
    background-color: rgb(97, 129, 233);
}
/*search button color*/
#searchBtn {
    background-color:  rgb(97, 129, 233);
}
/*city buttons saved color*/
#asideBtn button {
    color: rgb(97, 129, 233);
}
/*card background color*/
#card {
    background-color: rgb(97, 129, 233);
}